In [1]:
%load_ext autoreload
%autoreload 2

import duckdb
import json
import os
import pandas as pd
import pathlib

# from ibge import *
from utils import *

In [2]:
# Initialize DuckDB connection
conn = duckdb.connect("Piper.db")
!ls gbif/

gbif.parquet  Piper.js+json.zip

## GBIF
### Adiciono os registros no duckdb (via parquet)

In [ ]:
local_file = "./gbif/gbif.parquet"

conn.execute("DROP TABLE IF EXISTS gbif")
conn.execute(f"""
    CREATE TABLE gbif AS 
    SELECT * FROM read_parquet('{local_file}')
""")

result = conn.execute("SELECT COUNT(*) FROM gbif").fetchone()
print(f"Registros carregados na tabela: {result[0]:,}")

Registros carregados na tabela: 27,556

In [7]:
conn.execute("DESCRIBE gbif").df()

             column_name column_type null   key default extra
0                    key      BIGINT  YES  None    None  None
1             datasetKey     VARCHAR  YES  None    None  None
2       publishingOrgKey     VARCHAR  YES  None    None  None
3            networkKeys   VARCHAR[]  YES  None    None  None
4        installationKey     VARCHAR  YES  None    None  None
..                   ...         ...  ...   ...     ...   ...
239                depth      DOUBLE  YES  None    None  None
240        depthAccuracy      DOUBLE  YES  None    None  None
241            waterBody     VARCHAR  YES  None    None  None
242  associatedSequences     VARCHAR  YES  None    None  None
243               island     VARCHAR  YES  None    None  None

[244 rows x 6 columns]

In [8]:
conn.execute("SELECT * FROM gbif LIMIT 5").df()

,key,datasetKey,publishingOrgKey,networkKeys,installationKey,hostingOrganizationKey,publishingCountry,protocol,lastCrawled,lastParsed,...,extensions.http://data.ggbn.org/schemas/ggbn/terms/Preparation,parentNameUsageID,originalNameUsage,footprintSRS,higherGeographyID,depth,depthAccuracy,waterBody,associatedSequences,island
0,2998027570,a185d0c4-1a12-45c1-a729-2a7b058b528d,838537fc-4aeb-4980-8b58-97fbdcd1d91a,[4b0d8edb-7504-42c4-9349-63e86c01bf97],ecb15bdf-98de-4937-84f5-4f93ee9efc73,838537fc-4aeb-4980-8b58-97fbdcd1d91a,BR,EML,2025-11-01T12:14:04.613+00:00,2025-11-04T22:54:47.632+00:00,...,<NA>,None,None,None,None,NaN,NaN,None,None,None
1,3390903613,26d97e94-6ee9-4d5a-a9b8-7d514ec0345c,073e52d4-44bd-41d7-bdfa-88c2735c694b,<NA>,68845aab-a453-4816-b36d-a3ec8455deb0,c4f66525-4d36-4c18-82ac-98e088f54db4,CO,EML,2025-11-04T05:25:28.096+00:00,2025-11-05T02:58:47.070+00:00,...,<NA>,None,None,None,None,NaN,NaN,None,None,None
2,4031562717,7bd65a7a-f762-11e1-a439-00145eb45e9a,90fd6680-349f-11d8-aa2d-b8a03c50a862,<NA>,c4e134d3-c68f-406d-a116-6a37895602e0,90fd6680-349f-11d8-aa2d-b8a03c50a862,US,EML,2025-11-19T04:22:10.786+00:00,2025-11-19T05:10:39.243+00:00,...,<NA>,None,None,None,None,NaN,NaN,None,None,None
3,4031950051,7bd65a7a-f762-11e1-a439-00145eb45e9a,90fd6680-349f-11d8-aa2d-b8a03c50a862,<NA>,c4e134d3-c68f-406d-a116-6a37895602e0,90fd6680-349f-11d8-aa2d-b8a03c50a862,US,EML,2025-11-19T04:22:10.786+00:00,2025-11-19T05:11:05.005+00:00,...,<NA>,None,None,None,None,NaN,NaN,None,None,None
4,4061265601,e053ff53-c156-4e2e-b9b5-4462e9625424,90fd6680-349f-11d8-aa2d-b8a03c50a862,<NA>,c4e134d3-c68f-406d-a116-6a37895602e0,90fd6680-349f-11d8-aa2d-b8a03c50a862,US,EML,2025-11-19T04:07:10.017+00:00,2025-11-19T04:35:27.921+00:00,...,<NA>,None,None,None,None,NaN,NaN,None,None,None

In [3]:
local_file = "./iucn/red_list_iucn.parquet"
conn.execute("DROP TABLE IF EXISTS iucn")
conn.execute(f"""
        CREATE TABLE iucn AS
        SELECT * FROM read_parquet('{local_file}', union_by_name=True)
    """)

result = conn.execute("SELECT COUNT(*) FROM iucn").fetchone()
print(f"Registros carregados na tabela: {result[0]:,}")

Registros carregados na tabela: 252

In [5]:
conn.execute("DESCRIBE iucn").df()

,column_name,column_type,null,key,default,extra
0,year_published,VARCHAR,YES,None,None,None
1,latest,BOOLEAN,YES,None,None,None
2,possibly_extinct,BOOLEAN,YES,None,None,None
3,possibly_extinct_in_the_wild,BOOLEAN,YES,None,None,None
4,sis_taxon_id,BIGINT,YES,None,None,None
5,url,VARCHAR,YES,None,None,None
6,taxon_scientific_name,VARCHAR,YES,None,None,None
7,red_list_category_code,VARCHAR,YES,None,None,None
8,assessment_id,BIGINT,YES,None,None,None
9,scopes,"STRUCT(code VARCHAR, description STRUCT(en VAR...",YES,None,None,None

In [6]:
conn.execute("SELECT * FROM iucn LIMIT 5").df()

,year_published,latest,possibly_extinct,possibly_extinct_in_the_wild,sis_taxon_id,url,taxon_scientific_name,red_list_category_code,assessment_id,scopes
0,1998,True,False,False,30646,https://www.iucnredlist.org/species/30646/9569685,Piper distigmatum,DD,9569685,"[{'code': '1', 'description': {'en': 'Global'}}]"
1,1998,True,False,False,35768,https://www.iucnredlist.org/species/35768/9956892,Piper verrucosum,LR/nt,9956892,"[{'code': '1', 'description': {'en': 'Global'}}]"
2,2004,True,False,False,39532,https://www.iucnredlist.org/species/39532/1024...,Peperomia kamerunana,EN,10245715,"[{'code': '1', 'description': {'en': 'Global'}}]"
3,2000,True,False,False,39533,https://www.iucnredlist.org/species/39533/1024...,Peperomia thomeana,LR/nt,10245845,"[{'code': '1', 'description': {'en': 'Global'}}]"
4,2003,True,False,False,44006,https://www.iucnredlist.org/species/44006/1084...,Piper seychellarum,VU,10847879,"[{'code': '1', 'description': {'en': 'Global'}}]"