In [1]:
%load_ext autoreload
%autoreload 2

import duckdb
import os
import pandas as pd
import pathlib

from ibge import *

In [3]:
# Initialize DuckDB connection
conn = duckdb.connect("plants.db")

### Verifico quais amostras estão ameaçadas

In [20]:
conn.execute("""
    SELECT COUNT(*)  FROM 
    sibbr_piperaceae AS s, flora_especies_ameacadas AS f
    WHERE s.Species IN f.species2020 AND s.Species <> 'nan'
""").df()

   count_star()
0           184

In [19]:
conn.execute("""
    SELECT s.species, COUNT(s.species)  FROM 
    sibbr_piperaceae AS s, flora_especies_ameacadas AS f
    WHERE s.Species IN f.species2020 AND s.Species <> 'nan'
    GROUP BY s.Species
    ORDER BY COUNT(*) DESC
    LIMIT 10
""").df()

              Species  count(s.species)
0   Piper translucens                19
1   Piper laevicarpum                16
2   Piper anostachyum                15
3   Piper carautensei                12
4    Piper juliflorum                10
5    Piper amparoense                 9
6   Piper piritubanum                 9
7  Peperomia gracilis                 8
8  Piper bennettianum                 7
9       Piper rioense                 7