In [1]:
%load_ext autoreload
%autoreload 2

import duckdb
import json
import os
import pandas as pd
import pathlib

from utils import *

In [9]:
# Initialize DuckDB connection
conn = duckdb.connect("Piper.db")

### IUCN
#### Removendo espécies sem critério B

In [16]:
# distinct, por causa do land_regions
conn.execute(f"""
    SELECT COUNT(DISTINCT(scientificName_y))
    FROM iucn_complete
""").df()

   count(DISTINCT scientificName_y)
0                               122

In [28]:
conn.execute(f"""
    SELECT COUNT(DISTINCT(scientificName_y))
    FROM iucn_complete
    WHERE redListCriteria NOT IN ('D2', 'A4c', 'A4c; B1ab(iii)')
""").df()

   count(DISTINCT scientificName_y)
0                               104

In [81]:
conn.close()